<form class="personal-info h-100 d-flex flex-column justify-content-between">
  <div>
    <h1 class="text-primary">Select your plan</h1>
    <p class="text-secondary">You have the option of yearly or Monthly biling.</p>
    <div class="d-flex justify-content-between mt-5">
      <div *ngFor="let plan of plans">
        <label for="{{plan.planid}}" class=" d-flex flex-column justify-content-between add-card">
          <div>
            <img src="{{plan.planimg}}" alt="icon">
          </div>
          <div>
            <h6 class="text-primary">{{plan.planName}}</h6>
            <p>
              <span>$</span>
              {{plan.planvalue}}
              <span *ngIf="planChange==false">/mo</span>
              <span *ngIf="planChange==true">/yr</span>
            </p>
            <p class="text-primary" *ngIf="planChange==true">2 months free</p>
          </div>
        </label>
        <input type="radio" class="d-none" name="plan" id="{{plan.planid}}" (click)="checkRadio(plan)">
      </div>
    </div>
    <div class="mt-4 bg-light p-2 rounded  ">
      <div class="d-flex justify-content-center">
        <h6 class="mb-0">Monthly</h6>
        <div class="form-check form-switch mx-4">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
            (click)="onToggle()">
          <label class="form-check-label" for="flexSwitchCheckDefault"></label>
        </div>
        <h6 class="mb-0">Yearly</h6>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class=" px-3 go-back py-2" routerLink="../personal-info" (click)="patchForm()">Go
        Back</button>
    </div>
    <div>
      <button type="button" class="btn btn-primary next-step px-3 py-2" (click)="savePlan()"
        [disabled]="selectedPlan == false">Next Step</button>
      <!-- PlanForm -->
    </div>
  </div>
</form>
