<!-- summary-start-- -->
<div class="d-flex flex-column justify-content-between h-100">
  <div #printableArea>
    <h1 class="text-primary">Order Summary</h1>
    <h5 class="text-primary mb-3">
      Hey
      <span class="fw-bold">
        {{personalInfo.name}},
      </span>
    </h5>
    <p class="text-secondary">Please confirm your order.</p>
    <div class="d-flex flex-column">
      <div class="p-4 bg-light rounded-3">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex flex-column justify-content-center">
            <h6 class="text-primary">{{planDetail?.planName}}</h6>
            <a class="change" (click)="planChange()">Change</a>
          </div>
          <div class="d-flex align-items-center">
            <h5 class="text-primary">
              <span>$</span>
              {{planDetail?.planvalue}}
              <span *ngIf="durationChange==false">/mo</span>
              <span *ngIf="durationChange==true">/yr</span>
            </h5>
          </div>
        </div>
        <div *ngFor="let data of addOnsDetail" class="d-flex justify-content-between mt-3">
          <p class="text-secondary">{{data.serviceName}}</p>
          <h6 class="text-primary">
            <span>+$</span>
            {{data.serviceValue}}
            <span *ngIf="durationChange==false">/mo</span>
            <span *ngIf="durationChange==true">/yr</span>
          </h6>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <p class=" text-secondary">Total(per month)</p>
        <h4 class="change"><span>$</span>{{totalValue}}<span *ngIf="durationChange==false">/mo</span>
          <span *ngIf="durationChange==true">/yr</span>
        </h4>
      </div>
    </div>
    <!-- <div class=" p-3 bg-light text-primary mt-3 border border-primary rounded-3">
            You have selected <span class="fw-bold">{{planDetail?.planName}}</span> subscription plan for
            <span class="fw-bold">{{planDetail?.value}}.</span>
        </div> -->
    <!-- <p>{{planDetail?.planName}}</p> -->
    <!-- <div class="p-3 bg-light text-primary mt-3 border border-primary rounded-3" *ngFor="let data of addOnsDetail">
      You have selected <span class="fw-bold">{{data.serviceName}}</span> service for <span
        class="fw-bold">{{data.value}}.</span>
    </div> -->
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class=" px-3 go-back py-2" routerLink="../select-plan">Go Back</button>
    </div>
    <div>
      <button type="button" class="btn-submit next-step px-3 py-2 me-3" (click)="print('printableArea')">Print</button>
      <button type="button" class="btn-submit next-step px-3 py-2"
        (click)="openVerticallyCentered(content)">Confirm</button>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary ms-3"
        (click)="submitData(); modal.close('Close click')">Submit</button>
    </div>
  </ng-template>
</div>
<!-- summary-end-- -->