<!-- asode-start-- -->
<section>
  <ul class="nav flex-row flex-sm-column justify-content-center justify-content-sm-between">
    <li class="nav-item">
      <div class="d-flex align-items-center">
        <a class="border border-1 border-white index rounded-circle" routerLink="personal-info"
          routerLinkActive="active-link">
          1
        </a>
        <div class="d-none d-sm-block ms-3">
          <!-- <a routerLink="personal-info"> -->
          <p class="text-uppercase steps">step 1</p>
          <p class="text-uppercase title">Your Info</p>
          <!-- </a> -->
        </div>
      </div>
    </li>
    <li class="nav-item ms-3 ms-sm-0">
      <div class="d-flex align-items-center">
        <a class="border border-1 border-white index rounded-circle" routerLink="select-plan"
          routerLinkActive="active-link">
          2
        </a>
        <div class="d-none d-sm-block ms-3">
          <p class="text-uppercase steps">step 2</p>
          <p class="text-uppercase title">Select plan</p>
        </div>
      </div>
    </li>
    <li class="nav-item ms-3 ms-sm-0">
      <div class="d-flex align-items-center">
        <a class="border border-1 border-white index rounded-circle" routerLink="add-ons"
          routerLinkActive="active-link">
          3
        </a>
        <div class="d-none d-sm-block ms-3">
          <p class="text-uppercase steps">step 3</p>
          <p class="text-uppercase title">Add ons</p>
        </div>
      </div>
    </li>
    <li class="nav-item ms-3 ms-sm-0">
      <div class="d-flex align-items-center">
        <a class="border border-1 border-white index rounded-circle" routerLink="summary"
          routerLinkActive="active-link">
          4
        </a>
        <div class="d-none d-sm-block ms-3">
          <p class="text-uppercase steps">step 4</p>
          <p class="text-uppercase title">summary</p>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- asode-end-- -->