<section class="personal-info h-100 d-flex flex-column justify-content-between">
  <div>
    <h1 class="text-primary">Pick add-ons</h1>
    <p class="text-secondary">Add-ons help enhance your gaming experience.</p>
    <div class="mt-5">
      <div class="d-flex justify-content-between aign-items-center add-ons p-3">
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>
          <div class="ms-4">
            <h6 class="text-primary">Online Services</h6>
            <p class="text-secondary">Access to multiplayes games</p>
          </div>
        </div>
        <div>
          <p class="rate">+$1/mo</p>
        </div>
      </div>
      <div class="d-flex justify-content-between aign-items-center add-ons p-3 mt-4">
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>
          <div class="ms-4">
            <h6 class="text-primary">Large Storage</h6>
            <p class="text-secondary">Extra1TB for cloud save</p>
          </div>
        </div>
        <div>
          <p class="rate">+$2/mo</p>
        </div>
      </div>
      <div class="d-flex justify-content-between aign-items-center add-ons p-3 mt-4">
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>
          <div class="ms-4">
            <h6 class="text-primary">Customizble profile</h6>
            <p class="text-secondary">Custom theme on your profile</p>
          </div>
        </div>
        <div>
          <p class="rate">+$3/mo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class=" px-3 go-back py-2" routerLink="../personal-info">Go Back</button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary next-step px-3 py-2" routerLink="../summary">Next Step</button>
    </div>
  </div>
</section>