<!-- <div class=" payment p-4 rounded-4 border border-primary ">
  <h2 class="text-primary text-center">Order Summary</h2>
  <h4>Hey </h4>
  <div>
    <h6>Your plan</h6>
    <div class="d-flex justify-content-between">
      <p class="text-secondary">plan Name</p>
      <p class="text-secondary">plan Value</p>
    </div>
  </div>
  <div>
    <h6>Your plan</h6>
    <div class="d-flex justify-content-between">
      <p class="text-secondary">plan Name</p>
      <p class="text-secondary">plan Value</p>
    </div>
  </div>
</div> -->
