.add-card {
  height: 200px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;

  @media (max-width: 425px) {
    width: 100%;
    height: auto;
  }

  &:hover {
    background: $light;
    border: 1px solid #7f7bcc;
  }

  p {
    margin-bottom: 0;
  }
}

.go-back {
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: grey;

  &:hover {
    color: $primary;
  }
}